[submodule "log.lua"]
	path = log
	url = https://github.com/rxi/log.lua.git
[submodule "lua-graphviz"]
	path = lua-graphviz
	url = https://github.com/nymphium/lua-graphviz
[submodule "luaunit"]
	path = luaunit
	url = https://github.com/bluebird75/luaunit.git
[submodule "json.lua"]
	path = json
	url = https://github.com/rxi/json.lua
